@charset "utf-8";
/*  FAO: Food and Agriculture Organization of the United Nations, for a world without hunger
	Núcleo de Capacitación en Políticas Públicas
	This website is powered by Moodle
	Extensions are copyright of their respective owners.
	Information and contribution at https://moodle.org/ 
*/
	
.responsive-img {
	max-width: 100%;
	height: auto;
}
.text-center {
	text-align: center !important;
}
.text-caja-inicio {
	text-align: left !important;
	font-size: 0.9em;
}
.foto_izquierda {
	float: left;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.foto_derecha {
	float: right;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
}
.foto_centro {
	display: block;
	margin: auto;
}
.foto_izq_fuera {
	float: left;
	margin-top: -20px;
	margin-right: 10px;
	margin-bottom: 6px;
	margin-left: -40px;
}
.foto_der_fuera {
	float: right;
	margin-top: -20px;
	margin-right: -40px;
	margin-bottom: 6px;
	margin-left: 10px;
}
.marco {
	padding: 5px;
	border: solid 1px #fff;
}
#ref {
	padding: 0px;
	float: right;
	height: 22px;
	width: 103px;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: -6px;
	margin-left: 0px;
}
#ref a:link, #ref a:visited {
	background-image: url(../img/img_gen/referencias.png);
	background-repeat: no-repeat;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 22px;
	width: 103px;
}
#ref a:hover {
	margin-top: 2px;
}
/*omar*/

.sombra {
	-webkit-box-shadow: 10px 10px 10px -10px #7A7A7A;
	box-shadow: 10px 10px 10px -10px #7A7A7A;
	border: 1px solid #CCC;
	padding: 6px;
	background-color: #FFF;
}
.rotar_derecha {
	-ms-transform: rotate(2deg); /* IE 9 */
	-webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
	transform: rotate(2deg);
}
.rotar_izquierda {
	-ms-transform: rotate(-2deg); /* IE 9 */
	-webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
	transform: rotate(-2deg);
}
.alert-success h3, .alert-danger h3, .alert-warning h3, .alert-info h3 {
	color: inherit;
}
.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}
.bs-callout-danger {
	border-left-color: #ce4844
}
.bs-callout-danger h4 {
	color: #ce4844
}
.bs-callout-warning {
	border-left-color: #aa6708
}
.bs-callout-warning h4 {
	color: #aa6708
}
.bs-callout-info {
	border-left-color: #1b809e
}
.bs-callout-info h4 {
	color: #1b809e
}
.modal-title {
	margin: 0;
	line-height: 1.42857143;
	font-size: 1.5em;
}
.label-unidad {
	background-color: #5d727d;
}
.label-unidad[href]:hover, .label-unidad[href]:focus {
	background-color: #76878f;
}
.badge {
	background-color: #51a5b4;
}
.shadow {
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
}
.verticalLine {
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #999;
	padding-right: 20px;
}
.verticalLineTwo {
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #999;
	padding-right: 10px;
	padding-left: 10px;
	border-left-width: thin;
	border-left-style: dotted;
	border-left-color: #999;
}
.caja {
	margin: 14px;
	padding: 20px;
	background-color: #FFF;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	border-top: 6px solid #3a7b1d;
}
.caja1 {
	margin: 10px;
	padding: 10px;
	background-color: #FFF;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	border-top: 6px solid #3a7b1d;
}
.caja2 {
	margin: 16px;
	padding: 26px;
	background-color: #f2edcc;
	color: #625d3b;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	border-top: 6px solid #3a7b1d;
}
.text_destacado {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	color: #003366;
	text-align: left;
	font-style: normal;
	line-height: 1.1em;
	padding: 6px;
}
.back_inicio {
	min-height: 420px;
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;	
	vertical-align: bottom;
	background-image: url(../img/img_un/back_inicio.jpg);
	background-repeat: repeat-x;
	background-position: center top;
}
.back_azulino {
	vertical-align: bottom;
	background-image: url(../img/img_un/bg_azulino.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	min-height:316px;
}
.clip {
	float: right;
	margin-top: -41px;
	margin-left: 10px;
	z-index: 100;
}
.popover{
	min-width: 260px;
	background-color: #ffffe7;
}
	
/* Unidad 1 */
.back_tabla {
	vertical-align: top;
	background-image: url(../img/img_un/tabla.png);
	background-repeat: no-repeat;
	background-position: center 0px;
	min-height: 410px;
}

.back_01 {
	vertical-align: top;
	background-image: url(../img/img_un/fondo_central.jpg);
	background-repeat: repeat-x;
	background-position: right 0px;
	min-height: 233px;
}
.back_central_1 {
	vertical-align: top;
	background-image: url(../img/img_un/bck_central_1.jpg);
	background-repeat: no-repeat;
	background-position: top 0px;
	min-height: 300px;
}
.back_central_2 {
	vertical-align: top;
	background-image: url(../img/img_un/bck_central_2.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	min-height: 430px;
}
.back_central_3 {
	vertical-align: top;
	background-image: url(../img/img_un/bck_central_3.png);
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 316px;
}
.back_central_4 {
	vertical-align: top;
	background-image: url(../img/img_un/bck_central_4.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	min-height: 347px;
}
.back_central_5 {
	vertical-align: top;
	background-image: url(../img/img_un/bck_central_5.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	min-height: 347px;
}
.back_central_6 {
	vertical-align: top;
	background-image: url(../img/img_un/bck_central_6.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	min-height: 200px;
}
.back_central_7 {
	vertical-align: top;
	background-image: url(../img/img_un/bck_central_7.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	min-height: 200px;
}
.back_central_8 {
	vertical-align: top;
	background-image: url(../img/img_un/bck_central_8.jpg);
	background-repeat: no-repeat;
	background-position: center 0px;
	min-height: 200px;
}
.linea {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}

.texto_sobre_foto {
	color: #FFF;
	text-shadow: #333 0.02em 0.02em 0.1em;
}
.texto_sobre_tabla {
	color: #333;
	text-shadow: #333 0.02em 0.02em 0.1em;
	font-size: 21px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-right: 80px;
}
.texto_sobre_tabla2 {
	color: #333;
	text-shadow: #333 0.02em 0.02em 0.1em;
	font-size: 21px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	padding-top: 60px;
	padding-bottom: 6px;
	padding-right: 80px;
}
.texto_sobre_tabla3 {
	color: #333;
	text-shadow: #333 0.02em 0.02em 0.1em;
	font-size: 23px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	padding-bottom: 4px;
	padding-right: 80px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #900;
}
.texto_sobre_foto_destacado {
	color: #FFF;
	text-shadow: #000 0.03em 0.03em 0.3em;
	font-size: 1.3em;
	text-align: center;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
}

.back_inferior_01 {
	background-image: url(../img/img_un/background_inferior_1.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
}

.back_costado_01 {
	vertical-align: top;
	background-image: url(../img/img_un/bck_cos_01.jpg);
	background-repeat: no-repeat;
	background-position: right 0px;
	min-height: 500px;
	margin-right:-15px;
}
.back_costado_02 {
	vertical-align: top;
	background-image: url(../img/img_un/bck_cos_02.jpg);
	background-repeat: no-repeat;
	background-position: right 0px;
	min-height: 500px;
	margin-right:-15px;
}
.back_costado_03 {
	vertical-align: top;
	background-image: url(../img/img_un/bck_cos_03.jpg);
	background-repeat: no-repeat;
	background-position: right 0px;
	min-height: 500px;
	margin-right:-15px;
}
.back_costado_04 {
	vertical-align: top;
	background-image: url(../img/img_un/bck_cos_04.jpg);
	background-repeat: no-repeat;
	background-position: right 0px;
	min-height: 500px;
	margin-right:-15px;
}
.back_costado_05 {
	vertical-align: top;
	background-image: url(../img/img_un/bck_cos_05.jpg);
	background-repeat: no-repeat;
	background-position: right 0px;
	min-height: 500px;
	margin-right:-15px;
}
.back_costado_06 {
	vertical-align: top;
	background-image: url(../img/img_un/bck_cos_06.jpg);
	background-repeat: no-repeat;
	background-position: right 0px;
	min-height: 500px;
	margin-right:-15px;
}
.back_costado_07 {
	vertical-align: top;
	background-image: url(../img/img_un/bck_cos_07.jpg);
	background-repeat: no-repeat;
	background-position: right 0px;
	min-height: 500px;
	margin-right:-15px;
}
.back_costado_08 {
	vertical-align: top;
	background-image: url(../img/img_un/bck_cos_08.jpg);
	background-repeat: no-repeat;
	background-position: right 0px;
	min-height: 500px;
	margin-right:-15px;
}
.back_costado_09 {
	vertical-align: top;
	background-image: url(../img/img_un/bck_cos_09.png);
	background-repeat: no-repeat;
	background-position: right 0px;
	min-height: 300px;
}
.tit_resumen {
	font-family: 'Roboto', sans-serif;
	font-size: 0.8em;
	color: #990000;
	text-align: left;
	font-style: normal;
	line-height: 1.5em;
	text-transform: uppercase;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	background-color: #F3F3F3;
}

/* Unidad 1 */

#rotargear {
	-webkit-animation: rotation 16s infinite linear;
}
 @-webkit-keyframes rotation {
 from {
 -webkit-transform: rotate(0deg);
}
to {
	-webkit-transform: rotate(359deg);
}
}
/* 5 columnas */

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
       position: relative;
       min-height: 1px;
       padding-right: 10px;
       padding-left: 10px;
}

.col-xs-15 {
       width: 20%;
       float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
           width: 20%;
           float: left;
       }
}
@media (min-width: 992px) {
       .col-md-15 {
           width: 20%;
           float: left;
       }
}
@media (min-width: 1200px) {
       .col-lg-15 {
           width: 20%;
           float: left;
       }
}
/* 5 columnas */

